@import url("font.css");
.go:before{content:'\e606';font-family:'icon';font-style:normal;font-size:1.5em;margin:.5em .3em}
hr{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
body{background:#101010;color:#f0f0ee;font-size:16px;font-family:'pt_sans';margin:0;text-align:center}
header{background:url("../img/wood_bg.jpg");border-top:5px solid #e99f16;overflow:hidden;padding-bottom:2em;}
header nav{background:#462d1c;margin:0;}
header nav ul{margin:0;padding:0;}
header nav ul li{display:inline-block;font-family:'burger';padding:1em .5em;}
header nav ul li a{color:#f0f0ee;text-decoration:none;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease}
header nav ul li a:hover{color:#b97242}
header .logo{display:inline-block;margin:0 auto;padding:.5em}
header .address,header .reservations{display:inline-block;font-size:.7em;font-weight:bold;padding:.5em;position:relative;text-align:left;}
header .address i,header .reservations i{color:#e99f16}
header .address .location:before,header .reservations .location:before,header .address .cell:before,header .reservations .cell:before{font-family:'icon';font-style:normal;font-size:3.2em;position:absolute}
header .address .location:before,header .reservations .location:before{content:'\e600';left:-25px;top:20px}
header .address .cell:before,header .reservations .cell:before{content:'\e605';left:-30px;top:25px}
header .address span,header .reservations span{display:inline-block;margin-top:1.5em;padding:left 3em;}
header .address span p,header .reservations span p{margin:0}
section{padding:.5em;}
section .combos{margin-bottom:2em;}
section .combos h2{font-family:'burger' cursive;font-size:2em;font-weight:normal;margin:0;margin-top:1em}
section .combos h3{color:#e99f16;font-style:italic;font-size:.9em;font-weight:normal;margin:0}
section .combos .combo{border:5px solid #f0f0ee;margin:1.5em 0;overflow:hidden;}
section .combos .combo img{width:100%}
section .combos .combo figcaption{background:#e99f16;cursor:pointer;margin:0;padding:.5em;position:relative;text-align:left;}
section .combos .combo figcaption p{margin:0}
section .combos .combo figcaption .name{font-family:'burger';font-size:1.3em}
section .combos .combo figcaption .desc{color:#724d14;display:block;font-size:.7em;font-style:italic}
section .combos .combo figcaption .view:before{content:'\e601';background:#c49c15;font-family:'icon';font-style:normal;height:40px;padding:.5em;position:absolute;right:0;text-align:center;top:0;width:50px}
section .combos .see-More{background:#fff;-webkit-border-radius:.2em;border-radius:.2em;color:#724d14;font-style:italic;padding:.5em;text-decoration:none;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease}
section .combos .see-More:hover{background:#e99f16;color:#fff}
section .arma-combo{margin:0;margin-bottom:2em;}
section .arma-combo h2{font-family:'burger';font-weight:normal;margin:0}
section .arma-combo h3{color:#e99f16;font-style:italic;font-size:.9em;font-weight:normal;margin:0;margin-bottom:2em}
section .arma-combo a{background:#fff;-webkit-border-radius:.2em;border-radius:.2em;color:#724d14;font-style:italic;padding:.5em;text-decoration:none;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease}
section .arma-combo a:hover{background:#e99f16;color:#fff}
section .pedidos h2{font-family:'burger';font-weight:normal;margin:0}
section .pedidos h3{color:#e99f16;font-style:italic;font-size:.9em;font-weight:normal;margin:0;margin-bottom:2em}
section .testimonios h2{font-family:'burger';font-weight:normal;margin:0}
section .testimonios h3{color:#e99f16;font-style:italic;font-size:.9em;font-weight:normal;margin:0;margin-bottom:2em}
section .testimonios .avatar img{border:3px solid #fff;-webkit-border-radius:50%;border-radius:50%;display:inline-block;height:80px;width:80px}
section .testimonios figcaption{color:#fff;}
section .testimonios figcaption p{font-size:.8em;margin:0}
section .testimonios figcaption .name{font-size:1.5em}
section .testimonios figcaption .user{color:#462d1c}
footer{background:#1d1817;margin:0;padding:.5em;text-align:left;}
footer .socials .circle{background:#342b29;-webkit-border-radius:50%;border-radius:50%;color:#fff;display:inline-block;height:40px;margin:.3em;position:relative;text-decoration:none;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease;width:40px;}
footer .socials .circle .facebook:before,footer .socials .circle .google:before,footer .socials .circle .twitter:before{font-family:'icon';font-style:normal;font-weight:1.5em;position:absolute}
footer .socials .circle .facebook:before{content:'\e603';left:15px;top:12px}
footer .socials .circle .google:before{content:'\e609';left:14px;top:12px}
footer .socials .circle .twitter:before{content:'\e602';left:14px;top:12px}
footer .socials .circle:hover{background:#e99f16}
footer .privacy span{color:#e99f16;display:inline-block;font-size:.8em;}
footer .privacy span p{display:inline-block;color:#5d504b}
