@import 'nib'
@import 'nib/vendor'
@import url('font.css')
vendor-prefixes ?= moz ms o webkit official

.go:before
	content '\e606'
	font-family 'icon'
	font-style normal
	font-size 1.5em
	margin 0.5em 0.3em
hr 
	opacity:.3
body
	background #101010
	color #F0F0EE
	font-size 16px
	font-family 'pt_sans'
	margin 0
	text-align center
header
	background url('../img/wood_bg.jpg')
	border-top 5px solid #E99F16
	overflow hidden
	padding-bottom 2em 
	& nav
		background #462D1C
		margin 0
		& ul 
			margin 0
			padding 0
			& li 
				display inline-block
				font-family 'burger'
				padding 1em 0.5em
				& a 
					color #F0F0EE
					text-decoration none
					transition all .5s ease
				& a:hover
					color #B97242
	& .logo
		display inline-block
		margin 0 auto
		padding 0.5em
	& .address,
	& .reservations
		display inline-block
		font-size .7em
		font-weight bold
		padding 0.5em
		position relative
		text-align left
		& i
			color #E99F16
		& .location:before,
		& .cell:before
			font-family 'icon'
			font-style normal
			font-size 3.2em
			position absolute
		& .location:before
			content '\e600'
			left -25px
			top 20px
		& .cell:before
			content '\e605'
			left -30px
			top 25px
		& span 
			display inline-block
			margin-top: 1.5em;
			padding left 3em
			& p 
				margin 0
section
	padding 0.5em
	& .combos
		margin-bottom 2em
		& h2
			font-family 'burger' cursive
			font-size 2em
			font-weight normal
			margin 0
			margin-top 1em
		& h3
			color #E99F16
			font-style italic
			font-size .9em
			font-weight normal
			margin 0
		& .combo 
			border 5px solid #F0F0EE
			margin 1.5em 0
			overflow hidden
			& img
				width 100%
			& figcaption
				background #E99F16
				cursor pointer
				margin 0
				padding 0.5em
				position relative
				text-align left
				& p 
					margin 0
				& .name
					font-family 'burger'
					font-size 1.3em
				& .desc
					color #724d14
					display block
					font-size .7em
					font-style italic					
				& .view:before
					content '\e601'
					background #C49C15
					font-family 'icon'
					font-style normal
					height 40px
					padding 0.5em
					position absolute 
					right 0
					text-align center
					top 0
					width 50px
		& .see-More
			background white
			border-radius .2em
			color #724d14
			font-style italic
			padding 0.5em
			text-decoration none
			transition all .5s ease
		& .see-More:hover
			background #E99F16
			color white
	& .arma-combo
		margin 0
		margin-bottom 2em
		& h2
			font-family 'burger'
			font-weight normal
			margin 0
		& h3
			color #E99F16
			font-style italic
			font-size .9em
			font-weight normal
			margin 0
			margin-bottom 2em
		& a 
			background white
			border-radius .2em
			color #724d14
			font-style italic
			padding 0.5em
			text-decoration none
			transition all .5s ease
		& a:hover
			background #E99F16
			color white
	& .pedidos
		& h2
			font-family 'burger'
			font-weight normal
			margin 0
		& h3
			color #E99F16
			font-style italic
			font-size .9em
			font-weight normal
			margin 0
			margin-bottom 2em
	& .testimonios
		& h2
			font-family 'burger'
			font-weight normal
			margin 0
		& h3
			color #E99F16
			font-style italic
			font-size .9em
			font-weight normal
			margin 0
			margin-bottom 2em
		& .avatar			
			& img
				border 3px solid white
				border-radius 50%
				display inline-block
				height 80px
				width 80px
		& figcaption
			color white
			& p
				font-size .8em
				margin 0
			& .name
				font-size 1.5em
			& .user
				color #462D1C
footer
	background #1d1817
	margin 0
	padding 0.5em
	text-align left
	& .socials
		& .circle
			background #342b29
			border-radius 50%
			color white
			display inline-block
			height 40px
			margin 0.3em			
			position relative
			text-decoration none
			transition all .5s ease
			width 40px
			& .facebook:before,
			& .google:before,
			& .twitter:before
				font-family 'icon'
				font-style normal
				font-weight 1.5em
				position absolute
			& .facebook:before
				content '\e603'
				left 15px
				top 12px
			& .google:before
				content '\e609'
				left 14px
				top 12px
			& .twitter:before
				content '\e602'
				left 14px
				top 12px
		& .circle:hover
			background #E99F16	
	& .privacy
		& span
			color #E99F16
			display  inline-block
			font-size .8em
			& p 
				display inline-block
				color #5d504b
				
		
			



